*{
    margin: 0;
    padding: 0; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
 }

body{
    background-color: #ffffff;
    min-height: 100vh;
}

h1{
    font-family: 'charline', sans-serif;
    color: rgb(255, 102, 102);
    font-size: 30px;
}

.portada1 {
    width: 100%;
    border: 15px solid white;
}

.cardRecomendaciones {
    background-color: rgb(250, 222, 210);
    margin: 100px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.card{
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-1%);
}
.cardNosotros{
    background-color: rgba(250, 222, 210, 0.486);
}
.cardNosotros:hover{
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    transform: translateY(0%);
}
.nosotrosDiv{
    display: flex;
    background-color: rgba(250, 222, 210, 0.486);
    margin: 70px 200px 530px 200px;
    border-radius: 20px 50px 50px 20px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}
.card-title{
    color: rgb(255, 102, 102);
}
.nosotrosContImg {
    display: flex;
    flex-wrap: wrap;
    align-items: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.nosotrosImg img {
    height: 300px;
    border: 3px solid rgba(255, 102, 102, 0.377);
    border-radius: 20px;
    transition: all 700ms ease;
}
.nosotrosImg img:hover {
    height: 350px;
    border: 3px solid rgba(255, 102, 102, 0.377);
    border-radius: 20px;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.sectionEventos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    margin-bottom: 415px;
}

.evento {
    background-color: rgba(255, 153, 153, 0.377);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
}
.evento small{
    color: #6c757d;
}

.eventoImagen {
    text-align: center;
}
.eventoImagenes{
    max-width: 100%;
    height: auto;
}
@media screen and (min-width: 768p) {
    .main-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
.cardEnvios{
    background-color: rgba(255, 153, 153, 0.377);
}
.card-title, .card-text {
    text-align: center;
}
.cardEnvios:hover{
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    transform: translateY(0%);
}
.serviciosDiv{
    background-color: rgba(255, 153, 153, 0.377);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 20px 100px 100px 100px;
    border-radius:  10px;
    padding: 10px;
}

.serviciosP {
    margin-top: 200px;
    margin-right: 20px;

}
.serviciosImagenes {
    width: 500px;
}
/*NAV*/

.navbar{
    background-color: rgba(250, 222, 210, 0.486);
}
.navbar-brand{
    font-family: 'charline', sans-serif;
    font-size: 25px;
    color: rgb(255, 102, 102);
}
.nav-link{
    color: rgb(255, 102, 102);
    font-weight: bold;
}
footer{
    background-color: rgb(255, 102, 102);
    color: white;
    text-align: center;
}

.row{
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.486);
}
.contactoDiv{
    text-align: center;
}
.btn{
    background-color: rgb(255, 102, 102);
}
.btn:hover{
    background-color: #ffffff;
    border: 2px solid rgb(255, 102, 102);
}
.bi{
    color: rgb(255, 102, 102);
}
.bi-footer{
    color: white;
}
.bi-footer:hover{
    color: #6c757d;
}
.footerDerechos p {
    margin-bottom: 0;
}